.dropdown {
    position: relative;
    display: inline-block;
    &__button {
        background-color: #fff;
        color: black;
        padding: 0.45rem 0.65rem;
        font-size: 1.2rem;
        border: none;
        width: 100%;
        border: 1px solid #dee2e6;
        color: var(--mainContrast);
        white-space: nowrap;
        &:hover,
        &:focus {
            background-color: #fff;
        }
        i {
            padding-left: 0.5em;
            font-size: 0.7rem;
        }
    }
    svg {
        fill: var(--mainContrast);
    }
    &__content {
        position: absolute;
        right: 0;
        background-color: #fafafa;
        border: 2px solid #ddd;
        min-width: 300px;
        width: 100%;
        z-index: 1;
        input {
            box-sizing: border-box;
            font-size: 1rem;
            padding: 0.4rem 0.7rem;
            border: none;
            border-bottom: 1px solid #ddd;
            &:focus {
                outline: 2px solid var(--mainContrast);
            }
        }
        ul {
            max-height: 200px;
            flex-direction: column;
            overflow-y: scroll;
            li {
                color: black;
                padding: 0.4rem 0.7rem;
                text-decoration: none;
                display: block;
                width: 100%;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                &.selected {
                    color: var(--main);
                    background-color: var(--mainContrastHelper);
                }
                &:hover {
                    color: var(--main);
                    background-color: var(--mainContrast);
                }
            }
            &::-webkit-scrollbar {
                width: 5px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 100px;
            }
            &::-webkit-scrollbar-track-piece:start {
                background-color: transparent;
            }
        }
    }
}
