.pagination {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
    & ul {
        align-items: center;
        flex-wrap: nowrap;
        display: flex;
    }
    &__block {
        flex-basis: 40%;
        span {
            white-space: nowrap;
            display: inline-block;
            margin-left: 1rem;
            margin-right: 0.6em;
            font-size: 0.9rem;
        }
        .page-item {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .page-link {
                border-left: unset;
                border-radius: 0px;
            }
            &:first-child .page-link {
                border-radius: 4px 0px 0px 4px;
                border-left: 1px solid gray;
            }
            &:last-child .page-link {
                border-radius: 0px 4px 4px 0px;
            }
        }
    }
    &__filters {
        flex: 1 1;
        justify-content: flex-end;
        .page-item {
            margin-left: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            label {
                font-size: 0.9rem;
                margin: 0;
                margin-right: 0.6rem;
            }
        }
    }
    @media (max-width: 767px) {
        justify-content: center;
    }
    .page-link {
        white-space: nowrap;
        background-color: var(--main);
        border: 1px solid gray;
        border-radius: 4px;
        padding: 0.45rem 0.6rem;
        color: var(--textBlack);
        &:focus {
            outline: unset;
            box-shadow: unset;
        }
        &:hover {
            background-color: #e0e0e0;
        }
        &.active {
            background-color: #0d6efd;
            color: #fff;
        }
    }
}
