.item {
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-wrapper {
        max-width: 400px;
    }
    a,
    .a {
        overflow: hidden;
    }
    &-img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        position: absolute;
        width: 100%;
        padding: 0.5rem;
    }
    &-control {
        cursor: pointer;
        line-height: 0;
        border: 2px solid #000;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
        background-color: var(--white);
    }
    .admin {
        display: flex;
        .item-edit {
            font-size: 14px;
            padding: 6.5px 5px;
            margin-right: 8px;
            &:hover {
                color: var(--mainLight);
                text-decoration: none;
            }
        }
        .item-delete {
            right: 45px;
            &:hover {
                color: var(--alert);
            }
        }
    }
    &-body {
        margin-top: 0.5rem;
    }
}
.cart-add,
.cart-delete {
    display: inline-block;
    margin-left: 0.7rem;
    button {
        border: unset;
        padding: 0;
        margin: 0;
        i {
            display: inline-block;
            font-size: 1.6rem;
        }
    }
}
.cart-add {
    i {
        color: var(--alert);
    }
}
.cart-delete {
    i {
        color: var(--success);
    }
}
.price {
    &-was {
        display: block;
        font-size: 0.8rem;
        color: var(--gray);
    }
    &-now {
        display: inline-block;
        font-size: 1.2em;
        color: var(--alert);
    }
    &-discount {
        pointer-events: none;
        color: var(--white);
        padding: 5px;
        height: 60px;
        width: 45px;
        background: linear-gradient(160deg, red 50%, transparent 50%);
    }
}
