.item {
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
        .item-img {
            border-radius: 15px;
            padding: 5px;
        }
    }
    &-wrapper {
        max-width: 400px;
        height: 100%;
    }
    a,
    .a {
        overflow: hidden;
    }
    &-img {
        cursor: pointer;
        padding: 1rem;
        transition: padding 0.3s ease-in-out;
    }
    &-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        position: absolute;
        width: 90%;
        z-index: 1;
    }
    &-control {
        cursor: pointer;
        line-height: 0;
        border: 2px solid #000;
        padding: 5px;
        margin: 0;
        margin-right: 8px;
        border-radius: 5px;
        background-color: var(--main);
        &:focus {
            box-shadow: unset;
        }
    }
    .admin {
        display: flex;
        align-self: baseline;
        margin-top: 5px;
        .item-edit {
            font-size: 14px;
            padding: 6.5px 5px;
            margin-right: 8px;
            &:hover {
                svg {
                    fill: var(--mainContrastHelper);
                }
            }
        }
        .item-delete {
            padding: 6px 6.5px;
            font-size: 15px;
            &:hover {
                svg {
                    fill: var(--alert);
                }
            }
        }
    }
    &-body {
        padding: 1rem 0.6rem;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.cart-control {
    display: inline-block;
    margin-left: 0.7rem;
    button {
        border: unset;
        padding: 0;
        margin: 0;
    }
}
.price {
    &-default {
        display: inline-block;
        margin-top: 0.8rem;
    }
    &-was {
        display: block;
        font-size: 0.8rem;
        color: var(--gray);
    }
    &-now {
        display: inline-block;
        font-size: 1.2em;
        color: var(--alert);
    }
    &-discount {
        pointer-events: none;
        color: var(--main);
        padding: 5px;
        height: 60px;
        background: linear-gradient(165deg, red 50%, transparent 53%);
        filter: drop-shadow(1px 2px 5px rgba(120, 0, 0, 0.55));
        z-index: 1;
    }
}
.img {
    .price-discount {
        position: absolute;
    }
}
