input.input-component {
    display: inline-block;
    border: 1px solid var(--gray);
    padding: 0.5rem 0.6rem;
    padding-bottom: 0.25rem;
    border-radius: 4px;
}
span.input-component {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 0px 4px 4px 0px;
    flex: 1 1;
    align-self: stretch;
    font-size: 0.7rem;
    width: 18%;
    line-height: 0;
}
.input-component-wrapper {
    margin: 0 !important;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    &-with-symbol {
        input {
            border-right: unset;
            width: 82%;
        }
    }
}
