.container {
    display: flex;
    padding: 0 1.5rem;
    min-height: 100%;
    background-color: var(--main);
}
.row {
    width: 100%;
    display: flex;
}
.hidden {
    display: none !important;
}
.btns-wrapper {
    padding-top: 0.8rem;
    display: flex;
    align-items: center;
    button:first-child {
        margin-right: 0.6rem;
    }
}
.btn,
button {
    position: relative;
    background-color: var(--mainContrast);
    border: none;
    padding: 0.5rem 0.6rem;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--main);
    &-sm {
        font-size: 0.7em;
        color: var(--mainContrast);
        background-color: transparent;
        padding: 0;
        border: none;
    }
    &-expanded {
        padding-right: 1.3rem;
        svg {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(-20%, -50%);
        }
    }
    &-danger {
        background-color: var(--alert);
    }
    &-warning {
        background-color: var(--warning);
        color: var(--black);
    }
    &-success {
        background-color: var(--success);
    }
    &-outline {
        border: 1px solid var(--mainContrast);
        background-color: transparent;
        color: var(--mainContrast);
    }
    &:not(.disabled):hover {
        filter: brightness(120%);
    }
}
.disabled {
    color: gray !important;
    background-color: #eee !important;
    cursor: not-allowed !important;
    &:hover {
        background-color: #ddd !important;
        color: gray !important;
    }
}
.error {
    border-color: var(--alert) !important;
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.3) !important;
}
.img-fluid {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}
.page .carousel.carousel-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    .control-dots {
        width: unset;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 100px;
    }
    .control-arrow {
        padding: 0.8rem;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.slide {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--gray);
}
// ::-webkit-scrollbar-track-piece:start {
//     background: var(--gray);
// }
:is(input, button):focus {
    box-shadow: 0 0 1px 1px var(--mainContrast);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
