.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &-dialog {
        width: 100%;
    }
    &-content {
        height: 100%;
    }
    &-fullscreen {
        width: 75vw;
        max-width: unset;
        min-height: unset;
        height: 75vh;
    }
    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 75vh;
    }
    &-wrapper {
        padding: 15px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
        border: 4px solid transparent;
        &.dragging {
            border: 4px dotted #000;
            border-radius: 20px;
        }
    }
    .col-md-3 {
        margin: 1rem 0;
    }
    &-controls {
        align-self: flex-end;
    }
}
.disabled {
    color: gray;
    &:hover {
        background-color: #e0e0e0;
        color: gray;
    }
}
select {
    padding: 5px;
    padding-left: 12px;
}
ul {
    padding-left: 0;
    list-style: none;
}
.pagination {
    // justify-content: flex-end;
    @media (max-width: 767px) {
        justify-content: center;
    }
}
.error {
    border-color: red !important;
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.3) !important;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--lightBlue);
}
::-webkit-scrollbar-track-piece:start {
    background: var(--lightBlue);
}
.checked {
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px black;
}
:is(.form-control, input, button):focus {
    box-shadow: 0 0 1px 1px var(--primary);
}
