.container {
    display: flex;
    margin: 0 auto;
    width: clamp(300px, 100%, 90vw);
    min-height: 100%;
}
.row {
    width: 100%;
    display: flex;
}
.hidden {
    display: none !important;
}
.btn {
    background-color: var(--main);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    &-danger {
        background-color: var(--alert);
    }
    &-success {
        background-color: var(--success);
    }
}
.disabled {
    color: gray;
    &:hover {
        background-color: #e0e0e0;
        color: gray;
    }
}
.error {
    border-color: var(--alert) !important;
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.3) !important;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--mainLight);
}
::-webkit-scrollbar-track-piece:start {
    background: var(--mainLight);
}
:is(.form-control, input, button):focus {
    box-shadow: 0 0 1px 1px var(--main);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
