.filter-section {
    flex-basis: 20%;
    padding-top: 1.5em;
    padding-bottom: 1em;
    position: sticky;
    top: 0px;
    height: fit-content;
    background-color: var(--main);
    z-index: 11;
    @media (max-width: 767px) {
        top: 7em;
        // max-width: 300px;
        padding: 1em;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    }
    .price__filters {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        align-items: center;
        .input-component {
            width: 95%;
        }
    }
    .categories {
        margin: 1rem 0px;
    }
}

.btn-filters {
    position: sticky;
    top: 4.5em;
    z-index: 11;
}
