.counter {
    position: absolute;
    right: 10px;
    transform: translateY(-60%) translateX(200%);
}
.cart-counter {
    font-family: serif;
    font-size: 11px;
    padding: 0.45rem;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    top: 0;
    height: 0px;
    color: var(--main);
}
#burst-8 {
    background: var(--main-2);
    width: 14px;
    height: 14px;
    position: relative;
    text-align: center;
    transform: rotate(20deg);
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background: var(--main-2);
        transform: rotate(135deg);
    }
}
a.active {
    #burst-8,
    #burst-8:before,
    #burst-8:after {
        background: var(--main-1);
    }
}
