#catalog {
    padding: 2rem 0px;
}
.bg .container {
    background-color: transparent;
}
.catalog {
    width: 100%;
    background-color: var(--main);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1.5rem;
    align-items: flex-start;
    margin-bottom: 2rem;
    &__wrapper {
        padding-left: 2rem;
        width: 100%;
    }
}
.category label {
    cursor: pointer;
    transition: 0.4s all;
}
.btn-delete-multiple {
    position: fixed;
    left: 50%;
    top: 100px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 100%;
    line-height: 0;
    padding: 30px;
    z-index: 99999;
    box-shadow: 0px 0px 50px 0px var(--black);
    transition: all 0.3s;
    i {
        position: absolute;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        line-height: 0;
        font-size: 26px;
        color: var(--danger);
        transition: all 0.3s;
    }
    &:hover {
        background-color: var(--alert);
        box-shadow: 0px 0px 0px 0px var(--black);
        i {
            color: var(--main);
        }
    }
}

.main {
    .bg {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        background: radial-gradient(
            var(--mainStrong) 5%,
            var(--mainContrastHelper) 70%
        );
        width: 100%;
        padding: 3vh 0;
        aspect-ratio: 16 / 7.5;
        h1 {
            font-size: 7rem;
            white-space: nowrap;
            position: absolute;
            font-family: serif;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .container {
            position: relative;
            p {
                color: var(--main);
                font-size: 1rem;
                padding: 0.5rem 1rem;
            }
        }
    }
}
