.modal-dialog {
    width: clamp(300px, 45%, calc(100vw - 20px));
}
.purchase-form {
    height: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    form {
        overflow-y: auto;
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.4rem 2.5rem;
        .DropDown__content {
            transform: translateX(30%);
        }
        & > * {
            margin: 0.5rem 0;
        }
        label {
            display: inline-block;
            margin-bottom: 0.2em;
        }
        .memorize {
            width: unset;
            display: inline-block;
        }
        .memorize-wrap {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            label {
                margin-bottom: 0;
                margin-right: 0.5em;
            }
        }
        .service {
            margin-bottom: 0;
        }
    }
}
