.page .item-creator {
    padding: 1.5rem 2rem;
    & > .row {
        justify-content: space-between;
        flex-direction: row;
        & > div:first-child {
            width: 35%;
        }
        & > div:last-child {
            width: 62%;
        }
        & > div {
            height: 100%;
        }
    }
    .btn {
        font-size: 0.8rem;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
    }
    .swap-wrap {
        text-align: center;
    }
    form .row {
        flex-direction: column;
        & > div {
            width: 100%;
            margin-top: 10px;
        }
    }
    .btn-warning {
        margin-right: 0.7rem;
    }
    .img {
        position: relative;
        max-width: 60%;
    }
    .item-preview {
        .row {
            flex-direction: row;
            margin-top: 1rem;
        }
        .item {
            max-width: 300px;
        }
        .control-dots {
            padding: 0 5px;
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 1;
        }
        .text-info {
            flex: 1 1;
            margin-left: 1rem;
            .description {
                padding: 0.7rem 0;
            }
        }
        .card-preview {
            display: flex;
            & * {
                color: inherit;
                font-family: Manrope;
                font-weight: 300;
                color: var(--main-1);
            }
            .price {
                &-was {
                    display: inline-block;
                    font-size: 1rem;
                    color: var(--gray);
                    margin-right: 5px;
                }
                &-now {
                    display: inline-block;
                    margin-top: 10px;
                    font-size: 1.3em;
                }
            }
        }
    }
    select {
        width: 100%;
    }
}
.modal .item-creator {
    overflow: scroll;
    height: 85vh;
}
