.card {
    margin-top: 3rem;
    .img {
        width: 45%;
        img {
            border-radius: 10px;
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
        }
    }
    .text-info {
        margin: 0px 2rem;
        .description {
            padding: 0.8rem 0;
        }
    }
    .cart-add,
    .cart-delete {
        margin-left: unset;
        margin-top: 0.6rem;
    }
}
