.card {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 80%;
    color: var(--main-1);
    .row {
        width: 100%;
    }
    * {
        color: inherit;
        font-family: Manrope;
        font-weight: 300;
    }
    .img {
        width: 35%;
        & > img {
            width: 100%;
        }
    }
    .text-info {
        margin: 0px 2rem;
    }
    .cart-add,
    .cart-delete {
        margin-left: unset;
        margin-top: 0.6rem;
    }
    .price {
        &-was {
            display: inline-block;
            font-size: 1rem;
            color: var(--gray);
            margin-right: 5px;
        }
        &-now {
            display: inline-block;
            margin-top: 10px;
            font-size: 1.3em;
        }
    }
    .cart-control {
        display: inline-block;
        margin-top: 5rem;
        color: #fff;
        .cart-in {
            padding: 1rem 1rem;
            border-color: var(--main-1);
            background-color: var(--main-1);
            border-radius: 10px;
        }
        .cart-out {
            padding: 1rem 1rem;
            border-color: var(--main-2);
            background-color: var(--main-2);
            border-radius: 10px;
        }
        .cart-control {
            padding: 0.4rem 1rem;
        }
    }
    @media (max-width: 767px) {
        width: 100%;
        .img {width: 100%;}
    }
}
