.card {
    margin-top: 60px;
    margin-bottom: 60px;
    .img {
        width: 45%;
        & > img {
            aspect-ratio: unset;
        }
    }
    .text-info {
        margin: 0px 2rem;
        .description {
            padding: 0.8rem 0;
        }
    }
    .cart-add,
    .cart-delete {
        margin-left: unset;
        margin-top: 0.6rem;
    }
    .price {
        &-was {
            display: inline-block;
            font-size: 1rem;
            color: var(--gray);
            margin-right: 5px;
        }
        &-now {
            display: inline-block;
            margin-top: 10px;
            font-size: 1.3em;
        }
        &-discount {
            position: absolute;
            top: 0;
        }
    }
}
