.filter-section {
    flex-basis: 20%;
    padding-top: 1.5em;
    position: sticky;
    top: 0px;
    height: fit-content;
    .price__filters {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        align-items: center;
        .input-component {
            width: 95%;
        }
    }
    .categories {
        margin: 1rem 0px;
    }
}
