#about {
    text-align: center;
    padding-bottom: 13rem;
    position: relative;
    .strokes-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 0;
        pointer-events: none;
        user-select: none;
        img {
            position: absolute;
            left: 0;
            width: 100%;
        }
    }
    .wrapper {
        position: relative;
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    .img {
        position: relative;
        width: 35%;
        margin: 0 auto;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    .text {
        text-align: left;
        width: 55%;
        margin: 0 auto;
        z-index: 1;
        h3 {
            font-size: 6rem;
            font-family: "Cormorant Garamond";
            font-weight: 500;
            color: transparent;
            -webkit-text-stroke: 2px var(--main-1);
        }
        p {
            font-size: 1.3rem;
            font-family: Manrope;
            font-weight: 300;
        }
    }
}
