@import "./sass/base.scss";
@import "./sass/UI.scss";
@import "./sass/keyframes.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#root {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    justify-content: space-between;
}

:root {
    --mainContrast: #007bff;
    --mainContrastHelper: #aecde2;
    --mainStrong: #fd792f;
    --black: #232323;
    --textBlack: #000000b3;
    --main: #fdfefe;
    --mainElements: #fdfefe;
    --gray: #888;
    --alert: #dd0303;
    --success: #00b400;
    --warning: #ffc107;
    --main-1: 229, 73, 0; // rgb(229, 73, 0)
    --main-2: 3, 39, 179; // rgb(3, 39, 179)
    --main-3: 225, 170, 198; // rgb(225, 170, 198)
}
