body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --lightBlue: #aecde2;
  --pink: #fd792f;
  --black: #000;
  --white: #fdfefe;
  --alert: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
option,
a {
  color: var(--black);
}

.footer {
  padding: 8% 0;
  background-color: var(--lightBlue);
  i {
    font-size: 2rem;
  }
}

.navbar {
  &-brand {
    text-transform: capitalize;
  }
}

.main {
  .bg {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    background: radial-gradient(var(--pink) 5%, var(--lightBlue) 70%);
    width: 100%;
    padding: 3vh 0;
    aspect-ratio: 16 / 7.5;
    h1 {
      font-size: 7rem;
      white-space: nowrap;
      position: absolute;
      font-family: serif;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .container-fluid {
      position: relative;
      p {
        color: var(--white);
        font-size: 1rem;
      }
    }
  }

  .catalog {
    background-color: var(--white);
  }
}
.item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    max-height: 15rem;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: absolute;
    width: 90%;
  }
  &-control {
    line-height: 0;
    border: 2px solid #000;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    background-color: var(--white);
  }
  &-edit {
    font-size: 14px;
    padding: 6.5px 5px;
    margin-right: 8px;
    &:hover {
      color: var(--lightBlue);
      text-decoration: none;
    }
  }
  &-delete {
    right: 45px;
    &:hover {
      color: var(--alert);
    }
  }
}

.title {
  font-size: 2rem;
  font-weight: 300;
}
select {
  padding: 5px;
  padding-left: 12px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  &-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-content {
    height: 100%;
  }
  &-fullscreen {
    width: 75vw;
    max-width: unset;
    min-height: unset;
    height: 85vh;
  }
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-controls {
    align-self: flex-end;
  }
}
