.page .item-creator {
    padding: 1.5rem 2rem;
    & > .row {
        justify-content: space-between;
        flex-direction: row;
        & > div:first-child {
            width: 35%;
        }
        & > div:last-child {
            width: 62%;
        }
        & > div {
            height: 100%;
        }
    }
    .btn {
        font-size: 0.8rem;
    }
    .swap-wrap {
        text-align: center;
    }
    form .row {
        flex-direction: column;
        div {
            width: 100%;
            margin-top: 0.8rem;
        }
    }
    .btn-warning {
        margin-right: 0.7rem;
    }
    .img {
        position: relative;
        max-width: 60%;
    }
    .item-preview {
        .row {
            flex-direction: row;
            margin-top: 1rem;
        }
        .text-info {
            flex: 1 1;
            margin-left: 1rem;
            .description {
                padding: 0.7rem 0;
            }
        }
    }
    select {
        width: 100%;
    }
}
.modal .item-creator {
    overflow: scroll;
    height: 85vh;
}
