.footer {
    padding: 8% 0;
    background-color: var(--mainContrastHelper);
    .container {
        background-color: transparent;
    }
    i {
        font-size: 2rem;
    }
    .row {
        justify-content: center;
        align-items: center;
        a {
            margin: 0.7rem;
        }
    }
}
