.navbar {
    position: sticky;
    top: var(--sticky-offset);
    z-index: 9990;
    background-color: var(--main);
    padding: 1rem 0;
    width: 100%;
    box-shadow: -10px 8px 10px 1px rgba(0, 0, 0, 0.1);
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 7px;
        align-items: center;
        justify-content: space-between;
    }
    &-brand {
        font-family: Cormorant Garamond;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 4rem;
        padding-bottom: 1rem;
        color: rgba(var(--main-1), 1);
    }
    .cart-link {
        font-size: 1rem;
    }
    .cart-counter {
        background-color: gray;
        border-radius: 50%;
        font-size: 14px;
        padding: 0.5rem;
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 0px;
        transform: translateY(-60%);
        color: var(--main);
    }
    .nav {
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-left: 1rem;
            color: var(--gray);
            transition: all 0.3s;
            letter-spacing: 0.7px;
            &.current,
            &.active {
                text-shadow: 0px 0px 1px var(--gray);
                color: var(--black);
            }
            &:after {
                display: block;
                content: " ";
                position: absolute;
                bottom: -4px;
                width: 100%;
                height: 2px;
                background-color: var(--black);
                transform: scaleX(0);
                transform-origin: left;
                transition: all 0.3s;
            }
            &:hover:after,
            &.active:after {
                transform-origin: right;
                transform: scaleX(1);
            }
        }
        &-item {
            display: flex;
            align-items: center;
        }
    }
    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .fa-phone {
        transform: rotate(90deg);
    }
    .btn-danger {
        padding: 0.2rem;
        padding-bottom: 0;
    }
    @media (max-width: 767px) {
        .nav-link {
            font-size: 1rem;
        }
    }
}
