.navbar {
    z-index: 9990;
    background-color: var(--white);
    padding: 1rem 0;
    width: calc(100% - 10px);
    &__wrapper {
        width: 100%;
        display: flex;
        margin-left: 10px;
        align-items: center;
        justify-content: space-between;
    }
    &-brand {
        text-transform: capitalize;
    }
    .nav {
        &-link {
            padding-left: 25px;
        }
        &-item {
            display: flex;
            align-items: center;
        }
    }
    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .fa-phone {
        transform: rotate(90deg);
    }
    a {
        cursor: pointer;
    }
    a.active {
        color: rgb(114, 114, 114);
    }
    a.current {
        color: #000 !important;
    }
    @media (max-width: 767px) {
        .navbar-brand.active {
            position: absolute;
            top: 9px;
            left: 18px;
        }
        .container {
            justify-content: flex-end;
        }
        .nav-link {
            padding-left: 8px;
            font-size: 15px;
        }
    }
}
