.navbar {
    position: sticky;
    top: var(--sticky-offset);
    z-index: 9990;
    background-color: var(--main);
    padding: 1rem 0;
    width: 100%;
    box-shadow: -10px 8px 10px 1px rgba(0, 0, 0, 0.1);
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 7px;
        align-items: center;
        justify-content: space-between;
    }
    &-brand {
        font-family: Cormorant Garamond;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 4rem;
        padding-bottom: 1rem;
        color: rgba(var(--main-1-transparent), 1);
        @media (max-width: 768px) {
            text-align: center;
            font-size: 2rem;
        }
    }
    .cart-link {
        font-size: 1rem;
    }
    .cart-counter {
        background-color: rgba(var(--main-2-transparent), 1);
        border-radius: 50%;
        font-size: 14px;
        padding: 0.5rem;
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 0px;
        transform: translateY(-60%) translateX(150%);
        color: var(--main);
    }
    .nav {
        &-item {
            display: flex;
            align-items: center;
            a {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 0 0.5rem;
                color: rgba(var(--main-2-transparent), 1);
                transition: all 0.3s;
                letter-spacing: 0.7px;
                &.current,
                &.active,
                &:hover {
                    color: rgba(var(--main-1-transparent), 1);
                }
                &:after {
                    display: block;
                    content: " ";
                    position: absolute;
                    bottom: -2px;
                    width: 100%;
                    height: 2px;
                    background-color: rgba(var(--main-1-transparent), 1);
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all 0.3s;
                }
                &:hover:after,
                &.active:after {
                    transform: scaleX(1);
                }
            }
        }
    }
    &-nav {
        border-bottom: 1px solid rgba(var(--main-2-transparent), 1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .fa-phone {
        transform: rotate(90deg);
    }
    .btn-danger {
        padding: 0.2rem;
        padding-bottom: 0;
    }
    @media (max-width: 767px) {
        .nav-link {
            font-size: 1rem;
        }
    }
}
